
.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: #151928;
    -fx-background-radius: 50px;
}

.main-vbox-selector {
    -fx-background-color: #23273b;
    -fx-background-radius: 30px;
}

.icon-btn {
    -fx-background-color: transparent;
    -fx-background-radius: 50px;
}

.icon-btn:hover {
    -fx-background-radius: 50px;
    -fx-background-color: #515567;
}

.vbox-btn-selector {
    -fx-background-radius: 20px;
    -fx-background-color: #2196f3;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;

    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-opacity: 0.5;
}

.vbox-btn-selector:hover {
    -fx-background-radius: 20px;
    -fx-background-color: #2196f3;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;

    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-opacity: 1;
}

.logOut-btn-selector {
    -fx-background-radius: 20px;
    -fx-background-color: #ea2311;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;

    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-opacity: 0.3;
}

.logOut-btn-selector:hover {
    -fx-background-radius: 20px;
    -fx-background-color: #ea2311;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;

    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-opacity: 1;
}