.pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.daily-food-vbox {
    -fx-padding: 10px;
    -fx-min-height: 400px;
    -fx-max-height: 400px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: #2196f3;
    -fx-background-radius: 13px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0, 4);
}

.food-vbox {
    -fx-padding: 10px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-color: #2196f3;
    -fx-background-radius: 13px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0, 4);
}

.food-vbox-label {
    -fx-font-size: 15px;
    -fx-padding: 0 0 10 0;
}

.food-button {
    -fx-font-size: 13px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 10px;
    -fx-border-color: #989898;
    -fx-background-radius: 10px;
    -fx-background-color: #989898;
}

.add-new-food-button {
    -fx-font-size: 16px;
    -fx-min-width: 170px;
    -fx-max-width: 170px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-text-fill: #2196f3;
    -fx-border-radius: 10px;
    -fx-border-color: #2196f3;
    -fx-background-color: #ffffff;
}

.add-new-food-button:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: #1259ab;
    -fx-background-radius: 10px;
    -fx-background-color: #1259ab;
}

.add-breakfast-button {
    -fx-font-size: 16px;
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-border-width: 2px;
    -fx-text-fill: #af8a10;
    -fx-border-radius: 10px;
    -fx-border-color: #af8a10;
    -fx-background-color: #ffffff;
}

.add-breakfast-button:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: #cea213;
    -fx-background-radius: 10px;
    -fx-background-color: #cea213;
}

.add-lunch-button {
    -fx-font-size: 16px;
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-border-width: 2px;
    -fx-text-fill: #1326a6;
    -fx-border-radius: 10px;
    -fx-border-color: #1326a6;
    -fx-background-color: #ffffff;
}

.add-lunch-button:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: #172ec5;
    -fx-background-radius: 10px;
    -fx-background-color: #172ec5;
}

.add-snack-button {
    -fx-font-size: 16px;
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-border-width: 2px;
    -fx-text-fill: #7a10af;
    -fx-border-radius: 10px;
    -fx-border-color: #7a10af;
    -fx-background-color: #ffffff;
}

.add-snack-button:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: #8e13cc;
    -fx-background-radius: 10px;
    -fx-background-color: #8e13cc;
}

.add-dinner-button {
    -fx-font-size: 16px;
    -fx-min-width: 240px;
    -fx-max-width: 240px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-border-width: 2px;
    -fx-text-fill: #af5210;
    -fx-border-radius: 10px;
    -fx-border-color: #af5210;
    -fx-background-color: #ffffff;
}

.add-dinner-button:hover{
    -fx-text-fill: #ffffff;
    -fx-border-color: #ce6113;
    -fx-background-radius: 10px;
    -fx-background-color: #ce6113;
}

.meal-button {
    -fx-font-size: 10px;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-font-weight: normal;
    -fx-alignment: CENTER-LEFT;
}