.pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.title{
    -fx-font-family: "HelveticaNeueLT Std";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.global-vbox-training {
    -fx-spacing: 30px;
    -fx-padding: 15px;
    -fx-background-color: #e6e6e6;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}

.add-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 315px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
}

.add-button:hover {
    -fx-background-color: #45a049;
}

.add-button:pressed {
    -fx-background-color: #3e8e41;
}

.routine-button{
    -fx-background-radius: 10px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 680px;
    -fx-max-width: 680px;
    -fx-background-color: #bdbdbd;
    -fx-alignment: CENTER;
}

.routine-button:hover{
    -fx-background-radius: 10px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 680px;
    -fx-max-width: 680px;
    -fx-background-color: #8a8a8a;
}

.routine-label {
    -fx-font-size: 14px;
    -fx-text-fill: #3a3a3a;
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-alignment: CENTER_LEFT;
}

.delete-button {
    -fx-background-radius: 10px;
    -fx-background-color: #b92110;
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-alignment: CENTER_RIGHT;
}

.delete-button:hover {
    -fx-background-color: #e12612;
}

.scroll-vertical-vbox {
    -fx-background-color: transparent;
}

.scroll-vertical-vbox .scroll-bar:vertical {
    -fx-background-color: transparent
}



