.pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.global-vbox-training {
    -fx-spacing: 10px;
    -fx-padding: 15px;
    -fx-background-color: #e6e6e6;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.vertical-scrollbar {
    -fx-background-color: #cccccc;
    -fx-pref-width: 10px;
    -fx-border-color: transparent;
}

.vertical-scrollbar .increment-button,
.vertical-scrollbar .decrement-button {
    -fx-background-color: #aaaaaa;
}

.vertical-scrollbar .track {
    -fx-background-color: #e0e0e0;
}

.vertical-scrollbar .thumb {
    -fx-background-color: #8a8a8a;
}

.add-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 315px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.add-button:hover {
    -fx-background-color: #45a049;
}

.add-button:pressed {
    -fx-background-color: #3e8e41;
}

.routine-button{
    -fx-background-radius: 5px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-background-color: #bdbdbd;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0, 4);
}

.routine-button:hover{
    -fx-background-radius: 5px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-min-width: 600px;
    -fx-max-width: 600px;
    -fx-background-color: #8a8a8a;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.3, 0, 4);
}

.scroll-vertical-vbox {
    -fx-background-color: transparent;
}

.scroll-vertical-vbox .scroll-bar:vertical {
    -fx-background-color: transparent
}



