.pane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.title {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

.scroll-pane-importer {
    -fx-padding: 10px;
    -fx-min-width: 700px;
    -fx-max-width: 700px;
    -fx-min-height: 280px;
    -fx-max-height: 280px;
    -fx-border-radius: 10px;
    -fx-border-color: #dddddd;
    -fx-background-color: transparent;
}

.scroll-pane-importer .viewport {
    -fx-background-color: transparent;
}

.scroll-pane-importer .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.routine-import-box {
    -fx-padding: -10px;
    -fx-min-width: 660px;
    -fx-max-width: 660px;
    -fx-min-height: 55px;
    -fx-max-height: 55px;
    -fx-border-radius: 5px;
    -fx-border-color: #dddddd;
    -fx-background-radius: 5px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #f0f0f0;
}

.routine-label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.importer-button {
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #4CAF50;
}

.importer-button:hover {
    -fx-background-color: #45a049;
}

.importer-button:pressed {
    -fx-background-color: #3e8e41;
}

.back-button{
    -fx-font-size: 16px;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-text-fill: #c90000;
    -fx-border-radius: 10px;
    -fx-border-color: #c90000;
    -fx-background-color: #ffffff;
}

.back-button:hover{
    -fx-text-fill: #ffffff;
    -fx-border-color: #d30e0e;
    -fx-background-radius: 10px;
    -fx-background-color: #d30e0e;
}