.parent{
    background-color: #865b5b;
}

.userIcon {
    -fx-background-color: #9c45f5;
    -fx-background-radius: 10px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-alignment: center;
    -fx-text-fill: #000000;
    -fx-font-size: 150%;
}

.text-field{
    -fx-background-color: #ffffff;
}

.userEmail {
    -fx-font-size: 150%;
    -fx-opacity: 0.5;
}

.global-textfield-settings {
    -fx-background-radius: 20px;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
}

